@model MVC_Intro.ViewModels.employeeDepartmentViewModel
@{
    ViewBag.Title = "Index";
}

<h1>List of Employees</h1>
@Html.ActionLink("add an employee", "create")

@using (Html.BeginForm("Index", "Employee"))
{
    <table>
        <th>Name</th>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.ActionLink("edit", "Edit", new { employeeId = item.EmployeeId })
                </td>
                <td>
                    @Html.ActionLink("delete", "Delete", new { employeeId = item.EmployeeId})
                </td>
            </tr>

        }
    </table>
}